.modal-parent {
  margin: auto auto;
  /* width: 60vw;
  height: 80vh; */
}

.modal-container {
  background-image: url("https://s3.amazonaws.com/user-media.venngage.com/299799-53374269481033ba23118a23eb394d20.jpg");
  /* background-color: burlywood; */
  /* border-radius: 15px; */
  /* border: 10px solid maroon; */
  background-repeat: no-repeat;
  background-size: contain;
  width: 875px;
  height: 700px;

  display: flex;
  flex-direction: row;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 500;
}

.image-container{
  display: flex;
  justify-content: center;
  padding:0;
}

.details-container{
  padding-top: 50px;
  width:500px;
  line-height: 1.25;
}

.details-name{
  font-size: 45px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}

.details-icons{
  width: 20px;
  height: 20px;
}

.details-artist{
  text-align: end;
  font-weight: 600;
  font-size: 22px;
}